.one{
    position: absolute;
    top:40%;
    left:40%;
     background-color: aquamarine; 
}
.one input{
    height:40px;
    width: 100%;
}
body{
    background-image: url("../static_img/bank3.jpg");
    background-size: cover;
    width: 80%;
}
tr{
    text-align: center;
    color: rgb(7, 4, 20);
}

tr button{
    padding: 2px 20px;
    background-color: blue;
}