h1{
    color: green;
}
.one{
    text-align: center;
    border: 1px solid red;
}

table{
    position: absolute;
    left:40%;
    top:20%;
    border:1px solid red;
    background-color: aqua;
}
body{
    background-color: antiquewhite;
}