<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Balance</title>
     <link rel="stylesheet" href="/css/Balance.css">
</head>
<body>
    <div class="one">
    <h1>Welcome {{body.Name}}</h1>
    <p>We Are Very Grateful By having A Genuine User Like You</p>
    <span>Amount:{{body.Mobile}}</span>
    </div>
    
</body>
</html>