<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/file_2.css"
</head>
<body>
    <div class="one">
        <form action="Login", method="post">
        <table>
            <tr><td colspan="2"><h1>LOGIN</h1></td></tr>
            <tr>
                <td><h1>Name:</h1></td>
                <td><input type="text" name="Name" ></td>
            </tr>
              <tr>
                <td><h1>Password:</h1></td>
                <td><input type="text" name="Password"></td>
            </tr>
            <tr>
                <td colspan="2"><button >Submit</button></td>
            </tr>
        </table>
        </form>
    </div>
    <script src="/css/check1.js"></script>
</body>
</html>