<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/css/public.css">
</head>
<body>
    <div class="one">
    <div class="a">
        <h1>Bank Of Baroda</h1>
    </div>
    <form action="/signup" method="post">
      <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="Name"></td>
             
        </tr>

        <tr>
            <td>Email</td>
             <td><input type="text" name="Email"></td>
        </tr>

        <tr>
            <td>Age</td>
             <td><input type="number" name="Age"></td>
        </tr>

        <tr>
            <td>Mobile</td>
             <td><input type="number" name="Mobile"></td>
        </tr>

         <tr>
            <td>Father</td>
             <td><input type="text" name="Father"></td>
        </tr>

         <tr>
            <td>Mother</td>
             <td><input type="number" name="Mother"></td>
        </tr>

        <tr>
            <td>Branch</td>
             <td><input type="number" name="Branch"></td>
        </tr>



        <tr>
            <td  style="text-align: center" colspan="2"><button>Submit</button></td>
        </tr>


      </table>
    </form>

    </div>
</body>
</html>